body {
  background-color: black;
}

h1.no-product {
  color:cornsilk;
}

.cart__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 40rem;
  max-width: 90%;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-bottom: 1rem;
  background-color: white;
}

.cart__item h1,
.cart__item h2 {
  margin-right: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
}

.cart__item form button {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  color: red;
  background-color: #fff;
}

.cart__item form button:hover {
  color: #fff;
  background-color: red;
}

button {
  cursor: pointer;
}

.order-now {
  text-align: center;
}
.order-now .btn {
  height: 50px;
  width: 120px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: black;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.order-now .btn:hover {
  background-color:cadetblue;
  color:cornsilk;
}