<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="img"></div>
        <div class="center"><br>
          <div class="title">Shop the coolest merch</div>
          <div class="sub_title">on D Block!</div>
          <div class="btns">
            <a class="<%= path === '/products' ? 'active' : '' %>" href="/products"> View Products</a>
            <a class="" href="https://twitter.com/davido" target="_blank"> Follow Davido</a>
          </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>